h2{font-family:Georgia,Times,"TimesNewRoman",serif;}
body{font:14px/21px"LucidaSans","LucidaGrande","LucidaSansUnicode",sans-serif;background:#dfe3e3;}
#wrap{width:1000px;min-width:1000px;margin:auto;}
header{background:linear-gradient(to top,#8f9c9c,#DCDCDC);padding:10px 0 10px 10px;height:50px;}
#top{float:left; width: 100%;height: 60px;}
#svg{float:left;width:50px;height:50px;margin-top: -5px;background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='50px' height='50px' viewBox='0 0 100 100' enable-background='new 0 0 0 0' %3E%3Cpath fill='%230C3' d='M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50'%3E%3CanimateTransform attributeName='transform' attributeType='XML' type='rotate' dur='1s' from='0 50 50' to='260 50 50' repeatCount='indefinite' /%3E%3C/path%3E%3C/svg%3E");}
#sotr{height:300px;min-height:200px;overflow-y:auto;}
#edit{background:linear-gradient(to top,#8f9c9c,#DCDCDC);height:170px;min-height:170px;overflow:auto;}
#textarea{float:left;background:none repeat scroll 0 0 #DCDCDC;font-size: 12px;width:60%;min-height:115px;height:115px;margin:5px;padding:4px;overflow:auto;resize:none;}

ul{margin: 0;padding: 10px;font-size: 12px;}
li { display: inline-block;  list-style: none;  vertical-align: middle; height:50px;}

.button {float: left;background-color: #f2f1f0;margin-right: 5px;margin-top: 4px;width: 40px;height: 30px;border: 1px solid #a0aaaa;border-radius: 10px;cursor: pointer;}
 button :hover {background: #f2f1f0;color: #3a7999;}
.button.save:focus , .button.load:focus ,.button.run:focus {background: #21ee09;}
.button.save:after {content: '▽';}
.button.load:after {content: '△';}
.button.run:after  {content: '▷';}
.button.clr:after {content: '✖';}

/*Шапка*/
.a11{background:#fdffdf;width:60px;}/*Дни месяца*/
.a1{background:#b9b9b9;width:60px;}/*Сотрудник*/
.a2{background:#9f6;width:30px;}/*Результаты расчета сотрудника*/
.a3{background:#0C3;width:30px;}/*ДниЧасы*/
.a4{background:#e4bd21;width:30px;}/*Неявки*/

/*Календарь*/
.c00{background:#fdffdf;width:20px;}/*Рабочий день*/
.c01{background:#CFC;width:20px;}/*Сокращенный рабочий день*/
.c02{background:#D2D2D2;width:20px;color: red;}/*Суббота*/
.c03{background:#D2D2D2;width:20px;color: red;font-weight: bold;}/*Воскресенье*/
.c04{background:#FF3100;width:20px;color: #f9f5f5;font-weight: bold;}/*Праздник*/

/*Сотрудники*/
.c0{background:#f7f5f4;width:20px;}/*Рабочий день*/
.c1{background:#CFC;width:20px;}/*Сокращенный рабочий день*/
.c2{background:#d2d2d2;width:20px;}/*Суббота*/
.c3{background:#d2d2d2;width:20px;}/*Воскресенье*/
.c4{background:#fb2626;width:20px;color: #f9f5f5;}/*Праздник*/

.api_info{color:#d45252;font-size:11px;	margin:-35px 25px 0 0;float:right;}
.clear{width:100%;height:1px;clear:both;}
.info {width:100%;height:20px;background-color: #fdffdf;font-size:12px;} 

.sel-css {display: block;font-size: 12px;line-height: 1.3;padding: .6em 1.4em .5em .8em;width: 100%;max-width: 100%; box-sizing: border-box;	margin: 0;border: 1px solid #aaa;border-radius: .5em;-moz-appearance: none;	-webkit-appearance: none;appearance: none;background-color: #fff;background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);	background-repeat: no-repeat, repeat;background-position: right .7em top 50%, 0 0;	background-size: .65em auto, 100%;}
.sel-css::-ms-expand {display: none;}
.sel-css:hover {border-color: #888;}
.sel-css:focus {border-color: #aaa;color: #222; outline: none;}
.sel-css option {font-weight:normal;}
.sel-css:disabled  {color: graytext;background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);}
.sel-css:disabled:hover{border-color: #aaa;}
 
.dropdown-content {display: none;position: absolute;background-color: #f1f1f1;min-width: 260px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;cursor: pointer;}
.dropdown-content a {padding: 1px 10px;display: block;}
.dropdown-content a:hover {background-color: #ddd}

.st0{background:#0C3;color: black;cursor: default;}
.st1{color: black;}
.st2{color: #D05855;}
.st3{text-decoration:underline; color: black;}

.ex_show {display:block;max-height: 500px;overflow: auto;margin-top: 53px;margin-left: -134px;} 
.rv_show {display:block;max-height: 500px;overflow: auto;margin-top: 53px;margin-left: -134px;} 

#sotr_resize,#edit_resize{border-top-color: #a3acac; border-top-width: 1px; border-top-style: solid; border-bottom-color: #a3acac; border-bottom-width: 1px; border-bottom-style: solid;cursor:nwse-resize;height:2px;width:100%;}
footer{background:linear-gradient(to top,#8f9c9c,#DCDCDC);padding:10px 0 10px 0;color:#666666;text-align:center;}

/*
*:focus{outline:none;}
*/

